<!DOCTYPE html>
<html>
  <head>
    <title>YummyRecipes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://apis.google.com/js/api.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
